body, html {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  background-color: black;
}

.logo {
  margin-top: 10px;
}
.chat-cont {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  justify-content: center;
  color: white;
}

.chatbot-container {
  width: 800px;
  height:450px;
  /* border: 1px solid #ccc; */
  border-radius: 8px;
  padding: 16px;
  background-color: grey;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.chatbot-messages {
  height: 400px;
  overflow-y: scroll;
  padding: 8px;
}

.message-container {
  clear: both;
  overflow: auto;
  
  justify-content: right;
  align-items: right;
}

.message {
  margin: 8px 0;
  padding: 8px;
  border-radius: 8px;
  font-size: 16px;
  line-height: 1.5;
  display: inline-block;
}

.user-message {
  /* background-color: #007bff; */
  background-color: black;
  color: #fff;
  text-align: right;
  float: right;
}

.ai-message {
  background-color: #f0f0f0;
  text-align: left;
  color: black;
}
.chatbot-input-form {
  display: flex;
  /* margin-top: 16px; */
  margin-bottom: 100px;
}
.chatbot-input-form input {
  flex: 1;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px 0 0 4px;
  font-size: 16px;
}
.chatbot-input-form button {
  padding: 8px 16px;
  border: none;
  background-color: black;
  color: #fff;
  border-radius: 0 4px 4px 0;
  font-size: 16px;
  cursor: pointer;
}
.chatbot-input-form button:hover {
  background-color: white;
  color: black;